In [2]:
import pandas as pd

In [8]:
# Loading the .csv file and taking a look at its results
df = pd.read_csv('dataset/cereals.csv')
df

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [17]:
# Changing the Index Column
df = pd.read_csv('dataset/cereals.csv')
df = df.set_index('name')
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [28]:
# We can use the inplace option to refresh the results of the DataFrame
df = pd.read_csv('dataset/cereals.csv')
df.set_index('name', inplace=True)
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [38]:
# Head function
df.head(7) # Shows the first 7 rows

                           calories  protein  vitamins     rating
name
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [40]:
# Tails function
df.tail(7) # Shows the last 7 rows

                           calories  protein  vitamins     rating
name
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [42]:
# Presents the statistical data of heach column
df.describe()

         calories    protein   vitamins     rating
count   10.000000  10.000000  10.000000  10.000000
mean    95.000000   2.900000  22.500000  49.205817
std     25.495098   0.875595   7.905694  20.315297
min     50.000000   2.000000   0.000000  29.509541
25%     75.000000   2.000000  25.000000  34.083970
50%    100.000000   3.000000  25.000000  43.079408
75%    110.000000   3.750000  25.000000  57.897582
max    130.000000   4.000000  25.000000  93.704912

In [44]:
# Slicing data
df[1:4]

                           calories  protein  vitamins     rating
name
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912

In [62]:
# Indexing columns using bracket operators
df = pd.read_csv('dataset/cereals.csv')
df[['name', 'rating']]

                        name     rating
0                  100% Bran  68.402973
1          100% Natural Bran  33.983679
2                   All-Bran  59.425505
3  All-Bran with Extra Fiber  93.704912
4             Almond Delight  34.384843
5    Apple Cinnamon Cheerios  29.509541
6                Apple Jacks  33.174094
7                    Basic 4  37.038562
8                  Bran Chex  49.120253
9                Bran Flakes  53.313813

In [99]:
# Boolean list
df = pd.read_csv('dataset/cereals.csv')
# Create a boolean Series with all False values
bool_series = pd.Series([False] * len(df))

# Set the third position to True
bool_series.iloc[2] = True

# Use the boolean Series to select the third row
third_row = df[bool_series]

# Display the third row
print(third_row)

       name  calories  protein  vitamins     rating
2  All-Bran        70        4        25  59.425505

In [123]:
# Filtering rows by getting a conditional
# The '&' in Pandas is the and symbol in python. The | one is the or in python
# Take a look at the parenthesis structure which is quite important. Otherwise it'll fail
condition = (df['calories'] > 70) & (df['protein'] == 3) 

# Filter the DataFrame based on the condition
df[condition]

                name  calories  protein  vitamins     rating
1  100% Natural Bran       120        3         0  33.983679
7            Basic 4       130        3        25  37.038562
9        Bran Flakes        90        3        25  53.313813

In [125]:
# Filtering data using loc()
df.loc[[5,8], 'name':'protein'] # Filters by the 5th and 8th item of the list

                      name  calories  protein
5  Apple Cinnamon Cheerios       110        2
8                Bran Chex        90        2

In [135]:
# Filtering data using iloc()
# iloc() takes row and column positions as arguments and not their labels
df.iloc[0:5, 0:3] # Slice 5 rows and 3 columns

                        name  calories  protein
0                  100% Bran        70        4
1          100% Natural Bran       120        3
2                   All-Bran        70        4
3  All-Bran with Extra Fiber        50        4
4             Almond Delight       110        2

In [133]:
# Another example of using iloc()
df.iloc[[0,2,4], 0:3] # Chooses different rows and the 3 columns

             name  calories  protein
0       100% Bran        70        4
2        All-Bran        70        4
4  Almond Delight       110        2

In [139]:
# First of all, show the 5 elements.
df = df[0:5]
df

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843

In [143]:
# Adding and deleting rows and columns

In [147]:
df.loc[6] = ['Trix', 110, 1, 25, 27.753301] # Quite similar of adding a new element into a dictionary
df

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
6                       Trix       110        1        25  27.753301

In [149]:
# Deleting values are used with the drop() option
df.drop(2, axis=0, inplace=True) # axis=0 is to add
df

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
6                       Trix       110        1        25  27.753301

In [151]:
# Adding columns is quite the same but you'd need to use [] operators
df['My Column'] = ['A', 'B', 'C', 'D', 'E']
df

                        name  calories  protein  vitamins     rating My Column
0                  100% Bran        70        4        25  68.402973         A
1          100% Natural Bran       120        3         0  33.983679         B
3  All-Bran with Extra Fiber        50        4        25  93.704912         C
4             Almond Delight       110        2        25  34.384843         D
6                       Trix       110        1        25  27.753301         E

In [153]:
# Delete a column
df.drop('My Column', axis=1, inplace=True) # axis=1 is to delete
df

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
6                       Trix       110        1        25  27.753301

In [161]:
# Sort values. By default it's in an asc order
df = pd.read_csv('dataset/cereals.csv')
df.sort_values(by='calories')

                        name  calories  protein  vitamins     rating
3  All-Bran with Extra Fiber        50        4        25  93.704912
0                  100% Bran        70        4        25  68.402973
2                   All-Bran        70        4        25  59.425505
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
1          100% Natural Bran       120        3         0  33.983679
7                    Basic 4       130        3        25  37.038562

In [163]:
# Sort values in a descendent order
df.sort_values(by='calories', ascending=False)

                        name  calories  protein  vitamins     rating
7                    Basic 4       130        3        25  37.038562
1          100% Natural Bran       120        3         0  33.983679
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813
0                  100% Bran        70        4        25  68.402973
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912

In [165]:
# Exporting and saving pandas DataFrames
df.to_csv('dataset/cerealsEdited.csv', index_label = False) # cerealsEdited.csv file should be created

newDf = pd.read_csv('dataset/cerealsEdited.csv')
newDf

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [167]:
# Concatenating DataFrames. In this case we're gonna use below df1 & df2. After that, those 2 would be concatenated
df1 = df[0:3]
df1

                name  calories  protein  vitamins     rating
0          100% Bran        70        4        25  68.402973
1  100% Natural Bran       120        3         0  33.983679
2           All-Bran        70        4        25  59.425505

In [171]:
df2 = df[5:8]
df2 = df2.reset_index(drop=True)
df2

                      name  calories  protein  vitamins     rating
0  Apple Cinnamon Cheerios       110        2        25  29.509541
1              Apple Jacks       110        2        25  33.174094
2                  Basic 4       130        3        25  37.038562

In [173]:
# Concatenating the 2 above DataFrames
pd.concat([df1,df2], axis=1)

,name,calories,protein,vitamins,rating,name,calories,protein,vitamins,rating
0,100% Bran,70,4,25,68.402973,Apple Cinnamon Cheerios,110,2,25,29.509541
1,100% Natural Bran,120,3,0,33.983679,Apple Jacks,110,2,25,33.174094
2,All-Bran,70,4,25,59.425505,Basic 4,130,3,25,37.038562

In [175]:
# Groupby
import pandas as pd

data = {'Gender': ["female", "male", "female", "male"], 'Score': [85, 88, 95, 80]} # Creating a dictionary
df = pd.DataFrame.from_dict(data)
df

   Gender  Score
0  female     85
1    male     88
2  female     95
3    male     80

In [179]:
# GroupBy option 
df.groupby(df['Gender']).mean() # mean is the average of those female, male scores.
# Other options are sum(), max(), min(), median(), count(), std()(standard deviation)

        Score
Gender
female   90.0
male     84.0