In [4]:
import pandas as pd

In [8]:
# Creating a dataFrame using lists
myList = [['Apple', 'Red'], ['Banana', 'Yellow'], ['Orange', 'Orange']]
myDataFrame = pd.DataFrame(myList)
myDataFrame

        0       1
0   Apple     Red
1  Banana  Yellow
2  Orange  Orange

In [10]:
# Creating a dataFrame using a Dictionary
myDictionary = {'Fruit': ['Apple', 'Banana', 'Orange'], 
                'Color': ['Red', 'Yellow', 'Orange']}
myDataFrame = pd.DataFrame(myDictionary)
myDataFrame

    Fruit   Color
0   Apple     Red
1  Banana  Yellow
2  Orange  Orange